<!DOCTYPE html>
<html>

<head>
    <title> ಕನ್ನಡ ನಿಘಂಟು </title>
	<style>
	
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}
</style>
</head>

<body>
    <h1>ಕನ್ನಡ ನಿಘಂಟು </h1>
    <h1>ಪದವನ್ನು ಸೇರಿಸಲು </h1>
	<ul>
  <li><a  href="/Noun">ನಾಮಪದ</a></li>
  <li><a href="/Verb">ಕ್ರಿಯಾಪದ</a></li>
  <li ><a href="/Other">ಇತರೆ</a></li>
  <li ><a href="/VIEW">ನಿಘಂಟು ವೀಕ್ಷಿಸಲು</a></li>
  <li class="active" style="float:right"><a href="/">Home page</a></li>
</ul>
</body>

</html>